<section class="table-section">
    <app-sag-datatable
        [datatableConfig]="datatableConfig"
        [serverSorting]="sort"
        [serverPaging]="paging">
    </app-sag-datatable>
</section>

<ng-template #dateTemplate let-value="value">
    {{ value | date: 'dd.MM.yyyy hh:mm' }}
</ng-template>

<ng-template #actions let-row="row">
    <section class="col-action">
        <i class="fa fa-eye" (click)="view(row)"></i>
        <i class="fa fa-shopping-basket" (click)="addToBasket(row)"></i>
    </section>
</ng-template>
